NEXT_PUBLIC_HOST_BACKEND="http://localhost:XXXX"

NEXT_PUBLIC_API_URL="${NEXT_PUBLIC_HOST_BACKEND}/api"

NEXT_PUBLIC_WEBSOCKET_URL="http://localhost:XXXX/wsocket"

GOOGLE_AUTH_URI="${NEXT_PUBLIC_HOST_BACKEND}/your-oauth-google-endpoint"