# Server port
NEXT_PUBLIC_HOST_BACKEND="http://localhost:XXXX"

NEXT_PUBLIC_API_PREFIX="/api"

NEXT_PUBLIC_API_URL="${NEXT_PUBLIC_HOST_BACKEND}${NEXT_PUBLIC_API_PREFIX}"

NEXT_PUBLIC_WEBSOCKET_URL="http://localhost:XXXX/wsocket"